# Golf Ball (One Way Anova)

# Importing the Libraries

In [12]:
import numpy as np
import pandas as pd
import seaborn as sns
from statsmodels.formula.api import ols      # For n-way ANOVA
from statsmodels.stats.anova import _get_covariance,anova_lm # For n-way ANOVA
from statsmodels.stats.multicomp import pairwise_tukeyhsd
import scipy.stats as stats
import matplotlib.pyplot as plt
%matplotlib inline
import os

# Loading the dataset CSV file

In [2]:
os.getcwd()

'C:\\Users\\Karuna\\Documents\\Mentor GL Python Jan 2020\\Advance Statistics\\Week 1 - ANOVA'

In [5]:
os.chdir('C:\\Users\Karuna\Documents\Mentor GL Python Jan 2020\Advance Statistics\Week 1 - ANOVA')

In [13]:
df=pd.read_csv('Golfball.csv')

# Checking the top 5 records

In [14]:
df.head()

    Design  Distance
0  Design1    206.32
1  Design1    207.94
2  Design1    206.19
3  Design1    204.45
4  Design1    209.65

# Checking the shape and information of the dataframe

In [15]:
df.shape

(40, 2)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 2 columns):
Design      40 non-null object
Distance    40 non-null float64
dtypes: float64(1), object(1)
memory usage: 544.0+ bytes

# Checking the summary of the dataframe

In [17]:
df.describe(include='all')

         Design    Distance
count        40   40.000000
unique        4         NaN
top     Design3         NaN
freq         10         NaN
mean        NaN  220.085000
std         NaN    9.697758
min         NaN  203.810000
25%         NaN  211.580000
50%         NaN  221.485000
75%         NaN  228.390000
max         NaN  235.450000

# Checking distinct values of Design

In [18]:
df.Design.value_counts()

Design3    10
Design2    10
Design4    10
Design1    10
Name: Design, dtype: int64

# Formulate the Null and Alternate Hypothesis

**Null Hypothesis $H_0$ : The mean distance travelled by the golf balls is same with different categories of design**

**Alternate Hypothesis $H_A$ : The mean distance travelled by the golf balls is different in at-least one category of design**

# One Way Anova

In [27]:
#tabl1=anova_lm(ols('Distance~C(Design)',data=df).fit())
#tabl1

             df     sum_sq     mean_sq          F        PR(>F)
C(Design)   3.0  2990.9898  996.996600  53.029822  2.731991e-13
Residual   36.0   676.8244   18.800678        NaN           NaN

In [19]:
model1=ols('Distance~C(Design)',data=df).fit()
aov_table1=anova_lm(model1)
aov_table1
#tabl1=anove_lm(('Distance~C(Design)',data=df).fit())

             df     sum_sq     mean_sq          F        PR(>F)
C(Design)   3.0  2990.9898  996.996600  53.029822  2.731991e-13
Residual   36.0   676.8244   18.800678        NaN           NaN

In [20]:
#Tukey HSD to perform multiple pairwise comparison
#M1!=M2!=M3=M4
comparison=pairwise_tukeyhsd(endog=df['Distance'],groups=df['Design'],alpha=0.05)
print(comparison)

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
======================================================
 group1  group2 meandiff p-adj   lower   upper  reject
------------------------------------------------------
Design1 Design2   11.902  0.001  6.6795 17.1245   True
Design1 Design3   19.974  0.001 14.7515 25.1965   True
Design1 Design4   22.008  0.001 16.7855 27.2305   True
Design2 Design3    8.072  0.001  2.8495 13.2945   True
Design2 Design4   10.106  0.001  4.8835 15.3285   True
Design3 Design4    2.034 0.7007 -3.1885  7.2565  False
------------------------------------------------------

In [21]:
#Normality Test for Residuals using Shapiro-Wilk Test 
w,pvalue=stats.shapiro(model1.resid)
print(pvalue)
#As p value is high, null will fly. This means that we fail to reject the null hypothesis and 
#conclude that the data is drawn from normal distribution.

0.6624279618263245

             df     sum_sq     mean_sq          F        PR(>F)
C(Design)   3.0  2990.9898  996.996600  53.029822  2.731991e-13
Residual   36.0   676.8244   18.800678        NaN           NaN

**Conclusion: Since the p value is less than the significance level (0.05), we can reject the null hupothesis and conclude that there is a difference in the mean distances travelled by the golf balls is different at-least one category of designs**