**Instructions:** 

1. For all questions in which the dataframe is used without dropping na, row number-1155 should be included.
2. For Q6     :- Output should be boolean only.
3. For Q9     :- Outcome will contain only numerical column.
4. For Q11    :- You need to print the unique destination place names in this and not the count.
5. For Q15,16 :- Popular: It is the place that is visited the most.
6. For Q17    :- Print the most frequent route taken by Uber drivers after dropping null values (Route= combination of START &                  END points present in the Data set). *Note: Only the top most value is expected
7. For Q19    :- You have to plot total/sum miles per purpose.
8. For Q21    :- You can make a countplot or barplot.
9. For Q22    :- Out of the category of trips, you need to find percentage wise how many are business and how many are personal                  on the basis of miles per category.
10. **For all questions after 10th, Please only use the data specified in the note given just below the question**
11. **You need to add answers in the same file i.e.  PDS_UberDriveProject_Questions.ipynb' and rename that file as 'Name_Date.ipynb'.You can mention the date on which you will be uploading/submitting the file.For e.g. if you plan to submit your assignment on 31-March, you can rename the file as 'STUDENTNAME_31-Mar-2020'**

# Import the dataset and Load the dataset. Load the necessary libraries.

## Q1. Show the last 10 records of the dataset. (2 point)

## Q2. Show the first 10 records of the dataset. (2 points)

## Q3. Show the dimension of the dataset. (2 points)

## Q4. Show the size of the dataset. (2 points)

## Q5. Print the information about all the variables of the data set. (2 points)

## Q6. Check for missing values. (2 points)

## Q7. How many missing values are present? (2 points)

## Q8. Get the initial data (name it 'df') with dropping the NA values. (2 points)

## Q9. Get the summary of the original data (before dropping the 'na' values). (2 points)

## Q10. Check the information of the new dataframe. (2 points)

## Q11. Get the unique start destinations. (2 points)
### Note: This question is based on the dataframe with no 'na' values in the 'START' variable.

## Q12. What is the total number of unique start destinations? (2 points)
### Note: This question is based on the dataframe with no 'na' values in the 'START' variable.

## Q13. Print the total number of unique stop destinations. (2 points)
### Note: This question is based on the dataframe with no 'na' values in the 'STOP' variable.

## Q14. Print all the Uber trips that has the starting point of San Francisco. (2 points)
### Note: Use the original dataframe without dropping the 'na' values.

## Q15. What is the most popular starting point for the Uber drivers? (2 points)
### Note: This question is based on the dataframe with no 'na' values in the 'START' variable.

## Q16. What is the most popular dropping point for the Uber drivers? (2 points)
### Note: This question is based on the dataframe with no 'na' values in the 'STOP' variable.

## Q17. List the most frequent route taken by Uber drivers. (3 points)
### Note: This question is based on the dataframe with no 'na' values.

## Q18. Print all types of purposes for the trip in an array. (3 points)
### Note: This question is based on the dataframe with no 'na' values in the 'PURPOSE' variable.

## Q19. Plot a bar graph of Purposes vs Distance. (3 points)
### Note: This question is based on the original dataframe.

## Q20. Print a dataframe of Purposes and the distance travelled for that particular Purpose. (3 points)
### Note: This question is based on the original dataframe.

## Q21. Plot number of trips vs Category of trips. (3 points)
### Note: This question is based on the original dataframe.

## Q22. What is proportion of trips that is Business and what is the proportion of trips that is Personal? (3 points)
### Note: The proportion calculation  is with respect to the 'miles' variable.
### Note: This question is based on the original dataframe.