In [1]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier

In [8]:
hr_df = pd.read_csv("HR_Employee_Attrition_Data.csv")

In [9]:
hr_df.head()

,Age,Attrition,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,1102,1,2,1,1,2,94,3,...,1,80,0,8,0,1,6,4,0,5
1,49,0,279,8,1,1,2,3,61,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1,1373,2,2,1,3,4,92,2,...,2,80,0,7,3,3,0,0,0,0
3,33,0,1392,3,4,1,4,4,56,3,...,3,80,0,8,3,3,8,7,3,0
4,27,0,591,2,1,1,5,1,40,3,...,4,80,1,6,3,3,2,2,2,2

In [10]:
hr_df.describe()

,Age,Attrition,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,2940.000000,2940.000000,2940.000000,2940.000000,2940.000000,2940.0,2940.000000,2940.000000,2940.000000,2940.000000,...,2940.000000,2940.0,2940.000000,2940.000000,2940.000000,2940.000000,2940.000000,2940.000000,2940.000000,2940.000000
mean,36.923810,0.161224,802.485714,9.192517,2.912925,1.0,1470.500000,2.721769,65.891156,2.729932,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.133819,0.367800,403.440447,8.105485,1.023991,0.0,848.849221,1.092896,20.325969,0.711440,...,1.081025,0.0,0.851932,7.779458,1.289051,0.706356,6.125483,3.622521,3.221882,3.567529
min,18.000000,0.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,0.000000,465.000000,2.000000,2.000000,1.0,735.750000,2.000000,48.000000,2.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,0.000000,802.000000,7.000000,3.000000,1.0,1470.500000,3.000000,66.000000,3.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,0.000000,1157.000000,14.000000,4.000000,1.0,2205.250000,4.000000,84.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1.000000,1499.000000,29.000000,5.000000,1.0,2940.000000,4.000000,100.000000,4.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [11]:
hr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2940 entries, 0 to 2939
Data columns (total 27 columns):
Age                         2940 non-null int64
Attrition                   2940 non-null int64
DailyRate                   2940 non-null int64
DistanceFromHome            2940 non-null int64
Education                   2940 non-null int64
EmployeeCount               2940 non-null int64
EmployeeNumber              2940 non-null int64
EnvironmentSatisfaction     2940 non-null int64
HourlyRate                  2940 non-null int64
JobInvolvement              2940 non-null int64
JobLevel                    2940 non-null int64
JobSatisfaction             2940 non-null int64
MonthlyIncome               2940 non-null int64
MonthlyRate                 2940 non-null int64
NumCompaniesWorked          2940 non-null int64
PercentSalaryHike           2940 non-null int64
PerformanceRating           2940 non-null int64
RelationshipSatisfaction    2940 non-null int64
StandardHours               2940 non-null int64
StockOptionLevel            2940 non-null int64
TotalWorkingYears           2940 non-null int64
TrainingTimesLastYear       2940 non-null int64
WorkLifeBalance             2940 non-null int64
YearsAtCompany              2940 non-null int64
YearsInCurrentRole          2940 non-null int64
YearsSinceLastPromotion     2940 non-null int64
YearsWithCurrManager        2940 non-null int64
dtypes: int64(27)
memory usage: 620.2 KB

In [12]:
hr_df.drop(['EmployeeCount', 'EmployeeNumber'],axis=1,inplace=True)

In [32]:
hr_df.head()

,Age,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1102,1,2,2,94,3,2,4,5993,...,1,80,0,8,0,1,6,4,0,5
1,49,279,8,1,3,61,2,2,2,5130,...,4,80,1,10,3,3,10,7,1,7
2,37,1373,2,2,4,92,2,1,3,2090,...,2,80,0,7,3,3,0,0,0,0
3,33,1392,3,4,4,56,3,1,3,2909,...,3,80,0,8,3,3,8,7,3,0
4,27,591,2,1,1,40,3,1,2,3468,...,4,80,1,6,3,3,2,2,2,2

In [33]:
hr_df['Attrition'].sum()

474

In [14]:
X = hr_df.drop("Attrition" , axis=1)

y = hr_df.pop("Attrition")

In [15]:
# splitting data into training and test set for independent attributes
from sklearn.model_selection import train_test_split

X_train, X_test, train_labels, test_labels = train_test_split(X, y, test_size=.30, random_state=1)

## Decision Tree Classifier

In [16]:
dt_model = DecisionTreeClassifier(criterion = 'gini' )

In [17]:
dt_model.fit(X_train, train_labels)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [20]:
from sklearn import tree

train_char_label = ['No', 'Yes']
HR_Tree_File = open('d:\hr_tree.dot','w')
dot_data = tree.export_graphviz(dt_model, out_file=HR_Tree_File, feature_names = list(X_train), class_names = list(train_char_label))

HR_Tree_File.close()

In [43]:
from sklearn.model_selection import GridSearchCV

param_grid = {
    'max_depth': [7, 8, 9, 10],
    'min_samples_leaf': [15, 20, 25],
    'min_samples_split': [45, 60, 75]
}

dt_model = DecisionTreeClassifier()

grid_search = GridSearchCV(estimator = dt_model, param_grid = param_grid, cv = 3)

In [44]:
grid_search.fit(X_train, train_labels)

GridSearchCV(cv=3, error_score='raise-deprecating',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'max_depth': [7, 8, 9, 10], 'min_samples_leaf': [15, 20, 25], 'min_samples_split': [45, 60, 75]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [45]:
grid_search.best_params_

{'max_depth': 7, 'min_samples_leaf': 25, 'min_samples_split': 45}

In [46]:
best_grid = grid_search.best_estimator_

In [47]:
ytrain_predict = best_grid.predict(X_train)
ytest_predict = best_grid.predict(X_test)

In [48]:
from sklearn.metrics import classification_report

In [49]:
print(classification_report(train_labels,ytrain_predict))

              precision    recall  f1-score   support

           0       0.87      0.98      0.92      1737
           1       0.66      0.21      0.32       321

   micro avg       0.86      0.86      0.86      2058
   macro avg       0.76      0.60      0.62      2058
weighted avg       0.84      0.86      0.83      2058

In [50]:
print(classification_report(test_labels,ytest_predict))

              precision    recall  f1-score   support

           0       0.84      0.97      0.90       729
           1       0.51      0.15      0.23       153

   micro avg       0.83      0.83      0.83       882
   macro avg       0.68      0.56      0.57       882
weighted avg       0.79      0.83      0.79       882

## Random Forest Classifier

In [36]:
from sklearn.model_selection import GridSearchCV

param_grid = {
    'max_depth': [7, 8],
    'max_features': [11, 12, 13],
    'min_samples_leaf': [20, 25],
    'min_samples_split': [60, 75],
    'n_estimators': [101, 301]
}

rfcl = RandomForestClassifier()

grid_search = GridSearchCV(estimator = rfcl, param_grid = param_grid, cv = 3)

In [37]:
grid_search.fit(X_train, train_labels)

GridSearchCV(cv=3, error_score='raise-deprecating',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'max_depth': [7, 8], 'max_features': [11, 12, 13], 'min_samples_leaf': [20, 25], 'min_samples_split': [60, 75], 'n_estimators': [101, 301]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [38]:
grid_search.best_params_

{'max_depth': 8,
 'max_features': 13,
 'min_samples_leaf': 25,
 'min_samples_split': 60,
 'n_estimators': 101}

In [39]:
best_grid = grid_search.best_estimator_

In [40]:
ytrain_predict = best_grid.predict(X_train)
ytest_predict = best_grid.predict(X_test)

In [41]:
print(classification_report(train_labels,ytrain_predict))

              precision    recall  f1-score   support

           0       0.86      1.00      0.92      1737
           1       0.90      0.12      0.21       321

   micro avg       0.86      0.86      0.86      2058
   macro avg       0.88      0.56      0.57      2058
weighted avg       0.87      0.86      0.81      2058

In [42]:
print(classification_report(test_labels,ytest_predict))

              precision    recall  f1-score   support

           0       0.84      1.00      0.91       729
           1       0.90      0.12      0.21       153

   micro avg       0.84      0.84      0.84       882
   macro avg       0.87      0.56      0.56       882
weighted avg       0.85      0.84      0.79       882

## MLP Classifier (Artificial Neural Network)

In [51]:
from sklearn.preprocessing import StandardScaler 
sc = StandardScaler() 
X_trains = sc.fit_transform(X_train) 
X_tests = sc.transform (X_test)

C:\Users\gurubagi\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\gurubagi\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\gurubagi\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.

In [122]:
param_grid = {
    'hidden_layer_sizes': [(100,100,100)],
    'activation': ['logistic', 'relu'],
    'solver': ['sgd', 'adam'],
    'tol': [0.1,0.01],
    'max_iter' : [10000]
}

rfcl = MLPClassifier()

grid_search = GridSearchCV(estimator = rfcl, param_grid = param_grid, cv = 3)

In [123]:
grid_search.fit(X_trains, train_labels)

GridSearchCV(cv=3, error_score='raise-deprecating',
       estimator=MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=None, shuffle=True, solver='adam', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'hidden_layer_sizes': [(100, 100, 100)], 'activation': ['logistic', 'relu'], 'solver': ['sgd', 'adam'], 'tol': [0.1, 0.01], 'max_iter': [10000]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [124]:
grid_search.best_params_

{'activation': 'relu',
 'hidden_layer_sizes': (100, 100, 100),
 'max_iter': 10000,
 'solver': 'adam',
 'tol': 0.01}

In [125]:
best_grid = grid_search.best_estimator_

In [126]:
ytrain_predict = best_grid.predict(X_trains)
ytest_predict = best_grid.predict(X_tests)

In [127]:
print(classification_report(train_labels,ytrain_predict))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      1737
           1       1.00      1.00      1.00       321

   micro avg       1.00      1.00      1.00      2058
   macro avg       1.00      1.00      1.00      2058
weighted avg       1.00      1.00      1.00      2058

In [128]:
print(classification_report(test_labels,ytest_predict))

              precision    recall  f1-score   support

           0       0.94      0.98      0.96       729
           1       0.87      0.73      0.79       153

   micro avg       0.93      0.93      0.93       882
   macro avg       0.91      0.85      0.88       882
weighted avg       0.93      0.93      0.93       882