# Section 1:  NumPy

#### Import the library with alias np

In [3]:
import numpy as np

####  1. Create an array of  8 eights

In [5]:
array1=np.ndarray([8,8,8,8,8,8,8,8])

#### 2. Create an array of the integers from 10 to 50

In [14]:
array2=np.arange(10,51)

print(array2)

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50]

#### 3. Create a 3x3 matrix with values ranging from 22 to 30

In [17]:
array3=np.arange(22,31).reshape(3,3)
print(array3)

[[22 23 24]
 [25 26 27]
 [28 29 30]]

## Indexing
Use below Array 'arr' for Questions below 

Use Indexing to get the answer

In [25]:
arr = np.arange(26,51).reshape(5,5)
print (arr)
print(arr[2:,1:])
print(arr[2:][1:])

[[26 27 28 29 30]
 [31 32 33 34 35]
 [36 37 38 39 40]
 [41 42 43 44 45]
 [46 47 48 49 50]]
[[37 38 39 40]
 [42 43 44 45]
 [47 48 49 50]]
[[41 42 43 44 45]
 [46 47 48 49 50]]

#### 4. Use indexing on arr to get below output

       [[37, 38, 39, 40],
       [42, 43, 44, 45],
       [47, 48, 49, 50]]

In [27]:
arr[-1,-1]

50

#### 5. Use indexing on arr to get below output
Output should be 50

In [30]:
arr[:3,1]

array([27, 32, 37])

#### 6. Use indexing on arr to get below output
      [[27],
       [32],
       [37]]

In [31]:
arr[-1]

array([46, 47, 48, 49, 50])

#### 7. Use indexing on arr to get below output
      [46, 47, 48, 49, 50]

In [32]:
arr[-2:]

array([[41, 42, 43, 44, 45],
       [46, 47, 48, 49, 50]])

#### 8. Use indexing on arr to get below output
     [[41, 42, 43, 44, 45],
       [46, 47, 48, 49, 50]]

### NumPy  Stats Functions

Use below given array 'arr'

In [33]:
arr = np.arange(10,40).reshape(6,5)
arr

array([[10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34],
       [35, 36, 37, 38, 39]])

#### 9. Find the sum of all the values in given array 'arr'

In [34]:
np.sum(arr)

735

#### 10. Find the standard deviation of the values in given array 'arr'

In [35]:
np.std(arr)

8.65544144839919

#### 11.  Find the mean of all the values in given array 'arr'

In [36]:
np.mean(arr)

24.5

# Section 2: Pandas

In [37]:
import numpy as np
import pandas as pd

### Q1. Display the first 10 entries of the dataset.

In [81]:
file=pd.read_csv('Stores Sales.csv',index_col=0)
print(file.head(10))
print(type(file))

file_name='Stores Sales.csv'
with open(file_name,'r') as f1:
    File_lines=f1.readlines()
    print(type(f1))

# for i in range(len(File_lines)):
#     if i>5:
#         break
#     print(File_lines[i])

             Dist_Taxi  Dist_Market  Dist_Metro  Store_Area  Items_Available  \
Observation
1               9796.0       5250.0     10703.0      1659.0           1961.0
2               8294.0       8186.0     12694.0      1461.0           1752.0
3              11001.0      14399.0     16991.0      1340.0           1609.0
4               8301.0      11188.0     12289.0      1451.0           1748.0
5              10510.0      12629.0     13921.0      1770.0           2111.0
6               6665.0       5142.0      9972.0      1442.0           1733.0
7              13153.0      11869.0     17811.0      1542.0           1858.0
8               5882.0       9948.0     13315.0      1261.0           1507.0
9               7495.0      11589.0     13370.0      1090.0           1321.0
10              8233.0       7067.0     11400.0      1030.0           1235.0

                  Parking Coupon_Category  Daily_Customer_Count  Store_Sales
Observation
1                    Open           CAT B                   530        66490
2            Not Provided           CAT B                   210        39820
3            Not Provided           CAT A                   720        54010
4                 Covered           CAT B                   620        53730
5            Not Provided           CAT B                   450        46620
6                    Open           CAT B                   760        45260
7              No Parking           CAT A                  1030        72240
8                    Open           CAT C                  1020        37720
9            Not Provided           CAT B                   680        46310
10                   Open           CAT C                  1130        44150
<class 'pandas.core.frame.DataFrame'>
<class '_io.TextIOWrapper'>

### Q2. Display the last 5 entries of the dataset.

In [75]:
print(file.tail(5))

             Dist_Taxi  Dist_Market  Dist_Metro  Store_Area  Items_Available  \
Observation
928            12176.0       8518.0     15673.0      1582.0           1910.0
929             7214.0       8717.0     10553.0      1387.0           1663.0
930             7423.0      11708.0     13220.0      1200.0           1436.0
931            15082.0      14700.0     19617.0      1299.0           1560.0
932             9297.0      12537.0     14418.0      1174.0           1429.0

             Parking Coupon_Category  Daily_Customer_Count  Store_Sales
Observation
928          Covered           CAT C                  1080        66390
929             Open           CAT A                   850        82080
930             Open           CAT A                  1060        76440
931             Open           CAT B                   770        96610
932          Covered           CAT C                  1110        54340

### Q3. How many rows and columns are present in the dataset?

In [64]:
file.shape

(932, 9)

### Q4. What are the different data types of the variables in the given dataset?

In [68]:
# file.dtypes

file.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 932 entries, 1 to 932
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Dist_Taxi             919 non-null    float64
 1   Dist_Market           919 non-null    float64
 2   Dist_Metro            931 non-null    float64
 3   Store_Area            924 non-null    float64
 4   Items_Available       917 non-null    float64
 5   Parking               932 non-null    object
 6   Coupon_Category       932 non-null    object
 7   Daily_Customer_Count  932 non-null    int64
 8   Store_Sales           932 non-null    int64
dtypes: float64(5), int64(2), object(2)
memory usage: 72.8+ KB

### Q5. Print all the values of the variable 'Dist_Metro'.

In [79]:
print(file.iloc[:,2])

Observation
1      10703.0
2      12694.0
3      16991.0
4      12289.0
5      13921.0
        ...
928    15673.0
929    10553.0
930    13220.0
931    19617.0
932    14418.0
Name: Dist_Metro, Length: 932, dtype: float64

### Q6. Drop the variable 'Parking' from the dataset.

In [94]:
df1=file.drop('Parking',axis=1)

### Q7. Print 'True' for the observations of the 'Dist_Taxi' variable whose value is greater than 8229.
**Using dataframe from Q6**

In [96]:
df1[df1['Dist_Taxi'] > 8229]

,Dist_Taxi,Dist_Market,Dist_Metro,Store_Area,Items_Available,Coupon_Category,Daily_Customer_Count,Store_Sales
Observation,,,,,,,,
1,9796.0,5250.0,10703.0,1659.0,1961.0,CAT B,530,66490
2,8294.0,8186.0,12694.0,1461.0,1752.0,CAT B,210,39820
3,11001.0,14399.0,16991.0,1340.0,1609.0,CAT A,720,54010
4,8301.0,11188.0,12289.0,1451.0,1748.0,CAT B,620,53730
5,10510.0,12629.0,13921.0,1770.0,2111.0,CAT B,450,46620
...,...,...,...,...,...,...,...,...
925,9615.0,7904.0,12521.0,1451.0,1734.0,CAT C,670,34880
927,10915.0,17486.0,15964.0,1549.0,1851.0,CAT C,1220,70620
928,12176.0,8518.0,15673.0,1582.0,1910.0,CAT C,1080,66390
931,15082.0,14700.0,19617.0,1299.0,1560.0,CAT B,770,96610
932,9297.0,12537.0,14418.0,1174.0,1429.0,CAT C,1110,54340

### Q8. Drop the missing values ('na' values) from the dataset.

In [99]:
df1.dropna(inplace=True)
print(df1)

             Dist_Taxi  Dist_Market  Dist_Metro  Store_Area  Items_Available  \
Observation
1               9796.0       5250.0     10703.0      1659.0           1961.0
2               8294.0       8186.0     12694.0      1461.0           1752.0
3              11001.0      14399.0     16991.0      1340.0           1609.0
4               8301.0      11188.0     12289.0      1451.0           1748.0
5              10510.0      12629.0     13921.0      1770.0           2111.0
...                ...          ...         ...         ...              ...
928            12176.0       8518.0     15673.0      1582.0           1910.0
929             7214.0       8717.0     10553.0      1387.0           1663.0
930             7423.0      11708.0     13220.0      1200.0           1436.0
931            15082.0      14700.0     19617.0      1299.0           1560.0
932             9297.0      12537.0     14418.0      1174.0           1429.0

            Coupon_Category  Daily_Customer_Count  Store_Sales
Observation
1                     CAT B                   530        66490
2                     CAT B                   210        39820
3                     CAT A                   720        54010
4                     CAT B                   620        53730
5                     CAT B                   450        46620
...                     ...                   ...          ...
928                   CAT C                  1080        66390
929                   CAT A                   850        82080
930                   CAT A                  1060        76440
931                   CAT B                   770        96610
932                   CAT C                  1110        54340

[898 rows x 8 columns]

### Q9. Group the dataset with respect to the variable 'Dist_Market' using aggregation function min()
**Use dataframe originally loaded i.e Q1 dataset**

In [111]:
df1[df1['Dist_Market']==4402].groupby('Dist_Market')['Coupon_Category'].count()

df1.groupby('Dist_Market').min()

,Dist_Taxi,Dist_Metro,Store_Area,Items_Available,Coupon_Category,Daily_Customer_Count,Store_Sales
Dist_Market,,,,,,,
1666.0,146.0,3227.0,1072.0,1296.0,CAT C,900,47590
4402.0,4049.0,8614.0,1948.0,2374.0,CAT A,930,89540
4574.0,5097.0,9365.0,1449.0,1733.0,CAT C,320,60060
4644.0,6486.0,9312.0,1330.0,1606.0,CAT C,590,38510
4950.0,1648.0,6583.0,932.0,1138.0,CAT B,820,89760
...,...,...,...,...,...,...,...
17541.0,12794.0,20046.0,1440.0,1733.0,CAT A,1120,65310
17552.0,11986.0,19014.0,1638.0,1952.0,CAT A,690,81840
17958.0,11304.0,19046.0,1648.0,1959.0,CAT A,370,77080
18281.0,9308.0,18532.0,1771.0,2147.0,CAT C,430,62710
20945.0,20662.0,23294.0,24300.0,12730.0,CAT B,1130,1500000

### Q10. Export the Q6 dataframe without the 'Parking' column into a csv file.

In [108]:
df1.to_csv('wk2Pandas.csv',index=True)